{% block field_rapportActiviteFile %}
    {% if entity.instance.rapportActiviteFileName %}
        <a href="{{ asset('rapportActiviteFiles/' ~ entity.instance.rapportActiviteFileName) }}" download>
            <button>Télécharger</button>
        </a>
    {% else %}
        <span>Aucun fichier</span>
    {% endif %}
{% endblock %}
